/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,400');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100');

div.header{
 width: 100%;
 background-image: url("images/header_bg1.jpg");
 background-size: cover;
 position: absolute;
 top: 0; right: 0; bottom: 0; left: 0;
 height: 650px;
}

ul{
 list-style-type: none;
}

a{
 text-decoration: none;
}

div.nav{
 position: fixed;
 background-color: rgba(0, 0, 0, 0.95);
 margin-right: -200px;
 box-shadow: 1px 2px 5px #000;
 font-family: 'PT Sans', sans-serif;
}

div.nav ul{
 padding: 0px;
 margin: 0px;
 font-weight: 400;
}

div.nav ul li{
 float: left;
 width: 160px;
 height: 40px;
 line-height: 40px;
 text-align: center;
 font-size: 18px;
 transition-display: display;
}

div.nav ul li a{
 color: #fff;
 display: block;
 transition-duration: 0.1s;
 transition-timing-function: linear;
}

div.nav ul li a:hover{
 background-color: #707b7c;
}

div.nav ul li ul li{
 display: none;
 background-color: #fff;
}

div.nav ul li ul li a{
 color: #000;
}

div.nav ul li:hover ul li{
 display: block;
}

li.bs{
 box-shadow: 5px 5px 5px #000;
}

li.rl{
 margin-left: 560px;
}

div.hi{
 color: #fff;
 margin-top: 250px;
 font-family: 'IBM Plex Sans', sans-serif;
 background-color: rgba(213, 219, 219, 0.1);
 box-shadow: 2px 2px 3px #000;
}
 
div.hi h3{
 font-size: 60px;
 font-weight: 400;
 text-align: center;
}

div.hi h4{
 font-size: 30px;
 font-weight: 200;
 text-align: center;
 letter-spacing: 21px;
 margin-top: -80px;
 margin-left: 25px;
}

div.about{
 margin-top: 720px;
 font-family: 'Source Sans Pro', sans-serif;
}

div.about h2{
 font-size: 40px;
 font-weight: 400;
 text-align: center;
}

div.about p{
 font-size: 25px;
 font-weight: 300;
 text-align: center;
}

div.about hr{
 width: 300px;
}

div.oridian{
 float: left;
 display: inline;
 margin-left: 420px;
 margin-top: -20px;
}

div.oridian h5{
 font-size: 25px;
 margin-bottom: 10px;
 text-align: center;
 font-weight: 400;
}

div.oridian img{
 width: 160px;
 height: 180px;
 border-radius: 15px;
 transition: transform.6s;
 box-shadow: 2px 2px 3px #7f8c8d;
}

div.oridian img:hover{
 transform: scale(1.05);
}

div.gerald{
 float: left;
 display: inline;
 margin-left: 180px;
 margin-top: -20px;
}

div.gerald h5{
 font-size: 25px;
 margin-bottom: 10px;
 text-align: center;
 font-weight: 400;
}

div.gerald img{
 width: 160px;
 height: 180px;
 border-radius: 15px;
 transition: transform.6s;
 box-shadow: 2px 2px 3px #7f8c8d;
}

div.gerald img:hover{
 transform: scale(1.05);
}

div.contact{
 margin-top: 400px;
 font-family: 'IBM Plex Sans', sans-serif;
}

div.contact{
 background-image: url("images/contact_bg.jpg");
 background-size: cover;
 position: absolute;
 top: 0; right: 0; bottom: 0; left: 0;
 margin-top: 1500px;
 padding-bottom: 550px;
 z-index: -1;
}

div.contact h1{
 color: #fff;
 text-align: center;
 font-size: 60px;
 background-color: rgba(255, 255, 255, 0.2);
 margin-top: 0;
 padding-top: 30px;
 padding-bottom: 30px;
}

div.contact p{
 color: #fff;
 text-align: left;
 font-size: 20px;
 font-weight: 300;
 margin-top: 140px;
 margin-left: 30px;
 padding-top: 30px;
 padding-bottom: 30px;
 padding-left: 50px;
 border-left: 8px solid #fff;
 background-color: rgba(255, 255, 255, 0.1);
}

div.contact form{
 float: right;
 margin-right: 100px;
 margin-top: -163px;
}

input.name{
 padding: 10px 10px 10px 10px;
 border: none;
 background-color: #fff;
 color: #72797a;
 font-weight: 300;
 box-shadow: 2px 2px 3px #000;
}

input.email{
 margin-left: 10px;
 padding: 10px 10px 10px 10px;
 border: none;
 background-color: #fff;
 color: #72797a;
 font-weight: 300;
 box-shadow: 2px 2px 3px #000;
}


input.message{
 margin-top: 10px;
 padding-right: 239px;
 padding-top: 10px;
 padding-left: 10px;
 padding-bottom: 10px;
 border: none;
 background-color: #fff;
 color: #72797a;
 font-weight: 300;
 box-shadow: 2px 2px 3px #000;
}

input.send{
 margin-top: 10px;
 margin-left: 335px;
 padding-left: 30px;
 padding-right: 30px;
 padding-top: 10px;
 padding-bottom: 10px;
 border: none;
 font-size: 18px;
 background-color: #565f5f;
 color: #fff;
 font-weight: 300;
 box-shadow: 2px 2px 3px #000;
 transition: transform.2s;
}

input.send:hover{
 transform: scale(1.05);
}

div.copyright h6{
 color: #000;
 margin-top: 1050px;
 margin-bottom: 50px;
 font-size: 20px;
 font-family: 'Montserrat', sans-serif;
 text-align : center;
 font-weight: 100;
 letter-spacing: 10px;
}

div.copyright h6:hover{
 animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
 transform: translate3d(0, 0, 0);
 backface-visibility: hidden;  
 perspective: 1000px;
}

@keyframes shake {
 10%, 90% {
   transform: translate3d(-1px, 0, 0);
 }
 
 20%, 80% {
   transform: translate3d(2px, 0, 0);
 }

 30%, 50%, 70% {
   transform: translate3d(-4px, 0, 0);
 }

 40%, 60% {
   transform: translate3d(4px, 0, 0);
 }
}



















